@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/light/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/light/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/light/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* BEGIN Roboto Bold */
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/bold/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/bold/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/bold/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* END Roboto Bold */
  body {
    background: #ededed;
    margin: 0;
    padding: 0;
    color: #414141;
    font-family: 'robotolight';
    font-size: 16px;
  }

  .wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 10% auto 0;
  }
  .cntnt {
    width: 60%;
    display: inline-block;
    padding-top: 15%;
  }
  .img {
    width: 39%;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
  }
  .img img {
    width: 100%;
    height: auto;
  }
  h1 {
    font-family: 'robotobold';
    font-size: 2.8rem;
  }
  p {
    font-size: 1.7rem;
    line-height: 2.5rem;
  }
  .btn {
    padding: 14px 30px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'robotobold';
    text-transform: uppercase;
    transition: background-color 0.5s ease;
  }
  .gh-btn {
    color: #fff;
    background: #11bc14;
  }
  .gh-btn:hover {
    text-decoration: none;
    color: #fff;
    background: #007105;
  }

  .pp-btn {
    background: none;
    border: solid 2px #898989;
    color: #898989;
  }
  .pp-btn:hover {
    background: #898989;
    color: #fff;
    text-decoration: none;
  }
  .ml-1 {
    margin-left: 1rem !important;
  }
