/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */


/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */


/* Document
   ========================================================================== */


/* BEGIN Roboto Regular */

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/regular/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/regular/Roboto-Regular-webfont.woff') format('woff'), url('../fonts/roboto/regular/Roboto-Regular-webfont.ttf') format('truetype'), url('../fonts/roboto/regular/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* END Roboto Regular */


/* BEGIN Roboto Light */

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/light/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/light/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/light/Roboto-Light-webfont.woff') format('woff'), url('../fonts/roboto/light/Roboto-Light-webfont.ttf') format('truetype'), url('../fonts/roboto/light/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* END Roboto Light */

.clearfix {
    clear: both !important;
}

input:focus {
    outline: 0;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.ch-det h4 {
    font-size: 13px;
    font-family: "robotoregular";
    color: #dedede;
    letter-spacing: .5px;
    margin-bottom: 0;
}

.ch-det p {
    margin-bottom: 0;
}

.tp-sec h2 {
    color: #484848;
    font-size: 20px;
    font-family: "robotoregular";
}

h3 {
    font-size: 1.75rem;
}

.chats-container {
    /* padding: 0 10px; */
    height: 405px;
    max-height: 100%;
    background: #e4e4e4;
    width: 100%;
    font-family: 'robotolight';
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 13px;
}

.chats-container .chat-bx-outer {
    width: 100%;
    height: auto;
    margin: 15px 0;
    display: block;
    clear: both;
    float: left;
}

.chats-container .chat-bx-outer .chat-bx {
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 70%;
    text-align: left;
    word-wrap: break-word;
}

.chats-container .chat-bx-outer .white-bx {
    background: #fff;
    color: #7a7a7a;
}

.chats-container .chat-bx-outer .green-bx {
    background: #00b904;
    color: #fff;
    float: right;
    clear: both;
    text-align: right;
}

.chats-container .chat-bx-outer .r-time {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 12px;
    color: #9a9999;
}

.chats-container .chat-bx-outer .r-time span {
    margin-left: 5px;
}

.chats-container .chat-bx-outer .img-holder {
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

.chats-container .chat-bx-outer .img-holder img {
    width: 100%;
    height: auto;
}

.chats-container .rght {
    text-align: right;
    width: 100%;
}

.chats-container .rght .r-time {
    margin-top: 5px;
    margin-left: 0px;
    text-align: right;
    margin-right: 5px;
    clear: both;
}


/* chat send area */

.ch-send {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 5px 10px;
    border-top: solid 1px #dedede;
}

.ch-send .form-control {
    border: 0;
    padding-left: 50px;
    background: #fff;
    outline: none;
    font-size: 13px;
}

.ch-send .form-control:focus {
    outline: none;
}

.ch-send .form-control:active:focus {
    outline: none;
}

.attach-btn {
    background: transparent;
    border: 0;
    font-size: 24px;
    position: absolute;
    left: 1%;
    z-index: 99;
    color: #9a9999;
}


/* welcome screen */

.ch-wlcme {
    width: 100%;
    height: 100%;
}

.ch-wlcme .chw-cont {
    margin-top: 25%;
    text-align: center;
    color: #7f8892;
}

.btn-bs-file {
    position: relative;
    cursor: pointer;
    width: 50px;
}

.btn-bs-file small {
    color: #919191;
}

.btn-bs-file i {
    color: #9a9999;
    background: transparent;
    padding: 5px 10px;
    margin-right: 10px;
}

.btn-bs-file i:before {
    font-size: 24px;
}

.btn-bs-file input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}

.btn-send {
    background: #00b904;
    color: #fff;
    font-family: "robotobold";
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 14px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


/* chatbox*/

#chat,
#chat:after,
.chatbox {
    transition: all .4s ease-in-out
}

#close-chat,
.minim-button,
.maxi-button,
.chat-text {
    font-weight: 700;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-align: center;
    height: 20px;
    line-height: 20px
}

#close-chat,
.chatbox {
    border: 0
}


/* #chat:after,#chat:before{position:absolute;border-style:solid;content:""} */

.chatbox {
    position: fixed;
    bottom: 0;
    right: 20px;
    margin: 0 0 -1500px;
    background: #00b904;
    border-bottom: none;
    padding: 28px 0 0;
    z-index: 100000;
    color: #fff;
    height: 481px;
}

#close-chat {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 24px;
    width: 20px;
    z-index: 2
}

#minim-chat,
#maxi-chat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    z-index: 1
}

.minim-button {
    position: absolute;
    top: 2px;
    right: 26px;
    font-size: 24px;
    width: 20px;
}

.maxi-button {
    position: absolute;
    top: 2px;
    right: 26px;
    font-size: 24px;
    width: 20px;
}

.chat-text {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 16px;
    color: #fff;
}


/* #chat{width:40px;border-radius:3px;padding:2px 8px;font-size:12px;background:#fff;-webkit-transform:translateZ(0);transform:translateZ(0)}
#chat:before{border-width:10px 11px 0 0;border-color:#A8A8A8 transparent transparent;left:7px;bottom:-10px}
#chat:after{border-width:9px 8px 0 0;border-color:#fff transparent transparent;left:8px;bottom:-8px}
#chat:hover{background:#ddd;-webkit-animation-name:hvr-pulse-grow;animation-name:hvr-pulse-grow;-webkit-animation-duration:.3s;animation-duration:.3s;-webkit-animation-timing-function:linear;animation-timing-function:linear;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:alternate;animation-direction:alternate}
#chat:hover:after{border-color:#ddd transparent transparent!important} */

.animated-chat {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1)
    }
    10%,
    20% {
        -webkit-transform: scale(.9)rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1)rotate(3deg)
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1)rotate(-3deg)
    }
    100% {
        -webkit-transform: scale(1)rotate(0)
    }
}

@keyframes tada {
    0% {
        transform: scale(1)
    }
    10%,
    20% {
        transform: scale(.9)rotate(-3deg)
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1)rotate(3deg)
    }
    40%,
    60%,
    80% {
        transform: scale(1.1)rotate(-3deg)
    }
    100% {
        transform: scale(1)rotate(0)
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada
}

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
}


/*Fetch from product page */

.green-box {
    background: #00b904;
    margin: 20px 0;
    border-radius: 5px;
    padding: 10px;
}

.product-info {
    display: flex;
    background: #fff;
    padding: 5px;
    color: #484848;
    border-radius: 5px;
}

.product-info .image {
    width: auto;
    height: 80px;
    /* border : solid 1px #e0e0e0; */
    padding: 10px;
    text-align: center;
    margin-right: 15px;
    background: #fff;
}

.product-info .image img {
    width: auto;
    height: 100%;
    margin: auto;
}

.product-info .detail {
    color: $mid-grey;
    margin-top: 5px;
    text-align: left;
}

.product-info .detail span {
    color: $dark-grey;
}

.product-info .detail p {
    margin-bottom: 10px;
}

.heading6 {
    font-family: 'robotoregular';
    font-size: 14px;
    color: #484848;
    line-height: 18px;
    margin-bottom: 10px;
}

.price-txt {
    color: #00b904 !important;
    font-family: 'robotoregular';
    font-size: 14px;
}

.interest {
    width: 100%;
    display: block !important;
    padding: 8px 0 0 !important;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-family: 'robotoregular';
    padding-top: 5px;
}

.scroll-box {
    width: 100%;
    height: 100%;
    max-height: 450px;
    overflow-y: scroll;
    padding: 10px
}

.btn-default {
    padding: 3px 10px;
    font-size: 12px;
    display: inline-block;
    margin: 2px 3px;
    background: #f7d50a;
    color: #484848;
}

.btn-cancel {
    background: transparent;
    border: solid 1px #fff;
    color: #fff;
}