@charset "utf-8";
/* CSS Document */

.getheading{padding: 10px;
    margin-bottom: 10px;
    margin-top: -10px;}

.getquote{
	          border-left: 1px solid #cccccc26;
    padding: 15px;    margin-top: 20px;
    margin-bottom: 25px;}
			.form-control {
			    border: 0px;
				border-bottom: 1px solid #cccccc94;font-size: 15px}
			.service{margin-top: 20px;margin-bottom: 20px;
    padding: 15px;}
			.card {
				margin-bottom: 5px;border: 1px solid #ff9b00;}
			
			.card-header {
    padding: 0.5rem 1.25rem;
    background: #ff9b00;
}


.service h5{
    margin-bottom: 0px;
    font-size: 1rem;}
.service img{
    margin-bottom: 10px;
    width: 100%;}
.card-header a {
    color: #fff;
}
.card-body {
    padding: 0px;
    background: #e5f4e814;
}

input[type=checkbox], input[type=radio] {
    margin-right: 5px;}
label {
    margin-right: 5px;    color: #84757d;}



@media only screen and (max-width: 768px) {
.service h4{font-size: 18px}

}
