@charset "utf-8";

/* CSS Document */

.thumb-content h6 {
    height: 38px;
}
/*logistic_2*/

.logiabout2_rfqcon {
    width: 450px;
    left: 46%;
    position: absolute;
}


.light {
    color: #484848;
    font-size: 21px;
    font-family: "robotolight";
}

.abt_sec {
    color: #484848;
    font-size: 23px;
    font-family: "robotolight";
}


.letterheight {
    line-height: 25px;
}

.lighthead {
    max-width: 900px;
    margin: auto;
}

.abt_para2 p {
    color: #7e7e7e;
    font-size: 14px;
}
.abt_para {
    max-width: 800px;
    margin: auto;
}

.logictitle2 {
    position: absolute;
    top: 10%;
    left: 14%;
    font-size: 28px;
    color: #fff;
}

.logiabout2_rfq button {
    position: absolute;
    left: 47% !important;
    top: 56% !important;
}

.logiabout2_rfq h4 {
    position: absolute;
    left: 47% !important;
    top: 1% !important;
}

.logictitle2 p {
    font-size: 20px;
    margin-top: -11%;
    color: #ededed;
}

.logictitle2 h1 {
    font-family: 'robotobold';
    font-weight: normal;
}

.logistic_about2 {
    margin-bottom: 20px;
}

.logiabout2 {
    max-width: 900px;
    margin: auto;
    margin-bottom: 20px;
}

.logiabout2 img {
    margin-top: -8%;
    width: 100%;
    box-shadow: 0px 0px 5px 1px #00000073;
}

.logiabout2_rfq h2 {
    position: absolute;
    left: 47% !important;
    top: -10% !important;
}

.logiabout2_rfqcon p {
    margin-top: 8% !important;
    text-align: left;
}

.logiabout2_rfq {}

.logiabout2_rfq h2 {
    position: absolute;
    left: 50%;
}

.logiabout2_rfq h4 {
    position: absolute;
    left: 50%;
    top: 15%;
}

.logiabout2_rfq button {
    position: absolute;
    left: 50%;
    top: 35%;
}

.logiabout2_rfqcon p {
    margin-top: 4%;
}

.logistic_shipping2 {
    background: #f5f7fa;
    padding-bottom: 25px;
    text-align: center;
    padding-top: 25px;
}


/*.logistic_shipping2 h2{

font-family: "robotobold";
    font-size: 26px;
    color: #444444;
    margin-top: 25px;
    margin-bottom: 10px;}
*/


/* .logistic_ship {
    cursor: pointer;
} */


/* .logistic_ship:hover {
    -webkit-box-shadow: 0 0 15px 1px rgba(33, 33, 33, .4);
    -moz-box-shadow: 0 0 15px 1px rgba(33, 33, 33, .4);
    box-shadow: 0 0 15px 1px rgba(33, 33, 33, .4);
} */

.company_detailsregister {
    padding: 10px 10px;
}

.company_detailsregister .form-control {
    border-bottom: solid 1px #e4e4e4 !important;
}

.company_detailsregister .btn-green {
    margin-top: 15px;
    padding: 5px 25px;
}

.company_detailsregister .form-control {
    font-size: 14px;
    border: 0px
}

.lg {
    position: absolute;
    left: 47% !important;
    top: 56% !important;
}


/*companies_details
*/

.companies_details .card-header a {
    color: #fff;
}

.companies_details .card-header {
    padding: 0.5rem 1.25rem;
    background: #ff9b00;
}

.companies_details .modal-header {
    color: #000;
    font-size: 1.1rem;
    font-family: robotobold;
}

.companies_details .modal-footer {
    background: #28a7451f;
}

.companies_details .modal-body {
    background: #ffffff3d;
}

.companies_details h5 {
    margin-bottom: 0px;
    font-size: 1rem;
}

.companies_details h4 {
    font-size: 1.1rem;
}

.companies_details .card-body {
    padding: 0px;
    background: #e5f4e814;
}

.companies_details img {
    margin-bottom: 10px;
    width: 100%;
}

.companies_details .card {
    border: 1px solid #ff9b00;
    margin-bottom: 5px;
}

.companiesss {
    padding: 10px 15px;
}


/*companies_details
*/


/*quality_2*/

.quality_register h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'robotobold';
    font-weight: normal;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.quality_register p {
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.quality_register a {
    background: #0009;
    border: 1px solid #fff;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    color: #fff;
}


.quality_register a:hover {
    background: #000;
    color: #fff;
    text-decoration: none
}


.quality_register {
    background-image: url(../images/banners/register2.jpg);
    padding-bottom: 60px;
    text-align: center;background-size: cover;
    margin-bottom: 4px;
    padding-top: 25px;
}

.logictitle22 {
    position: absolute;
    top: 20%;
    left: 14%;
    font-size: 30px;
    color: #fff;
}

.logictitle22 p {
    font-size: 22px;
    margin-top: -11%;
    color: #dcdcdc;
}

.logictitle22 h1 {
    font-family: 'robotobold';
    font-weight: normal;
}


/*quality_2*/

b {
    font-family: 'robotobold';
    font-weight: normal;
}

.logistic_banner {
    padding: 0px;
    position: relative;
}

.logictitle {
    position: absolute;
    top: 6%;
    left: 12%;
    font-size: 30px;
    color: #fff;
}

.logictitle p {
    font-size: 22px;
    margin-top: -11%;
    color: #dcdcdc;
}

.logiabout {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logiabout h5 {
    margin-bottom: 35px;
}

.logiabout button {
    background: #48e552;
    padding: 15px 75px 15px 75px;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    border: 2px solid #000;
    font-family: robotobold;
    text-decoration: none;
}

.logiabout button:hover {
    background: #fff;
    color: #000;
    border: 2px solid #00b904;
}

.logiabout button span {
    display: block;
    font-size: 12px;
    text-transform: capitalize;
    font-family: 'robotoregular'
}

.logictitle h1 {
    font-family: 'robotobold';
    font-weight: normal;
}

.logistic_banner img {
    width: 100%
}

.logistic_about {
    margin-top: 20px;
    margin-bottom: 20px
}

.logistic_shipping {
    background-image: url(../images/banners/backlogistic.jpg);
    padding-bottom: 25px;
    text-align: center;
}

.logistic_shipping h2 {
    color: #000;
    font-family: 'robotobold';
    font-weight: normal;
    font-size: 30px;
    margin-top: 25px;
    border-bottom: 2px solid #00b904;
    display: inline-block;
}

.logistic_shipping_lcl {
    background: #fff;
    padding: 9px;
    border: solid 1px #e6ecf2;
    text-align: center;
    margin-top: 30px;
    min-height: 235px;
    margin-bottom: 15px;
}

.logistic_shipping_lcl b {
    color: #444444;
    font-family: 'robotomedium';
    font-weight: normal;
    font-size: 17px;
    margin-top: 5px;
}

.logistic_shipping_lcl img {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 25%;
}


/*.logistic_shipping_lcl p{
    font-size: 15px;
    color: #a7a7a7;
    margin-top: -5px;}*/

.logistic_shipping_fcl {
    background: #fff;
    padding: 9px;
    border: solid 1px #e6ecf2;
    text-align: center;
    margin-top: 30px;
    min-height: 235px;
    margin-bottom: 15px;
}

.logistic_shipping_fcl b {
    color: #444444;
    font-family: 'robotomedium';
    font-weight: normal;
    font-size: 17px;
    margin-top: 5px;
}

.logistic_shipping_fcl img {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 25%;
}


/*.logistic_shipping_fcl p{
    font-size: 15px;
    color: #a7a7a7;
    margin-top: -5px;}*/

.logistic_shipping_air {
    background: #fff;
    padding: 9px;
    border: solid 1px #e6ecf2;
    text-align: center;
    margin-top: 30px;
    min-height: 235px;
    margin-bottom: 15px;
}

.logistic_shipping_air b {
    color: #444444;
    font-family: 'robotomedium';
    font-weight: normal;
    font-size: 17px;
    margin-top: 5px;
}

.logistic_shipping_air img {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 25%;
}


/*.logistic_shipping_air p{
    font-size: 15px;
    color: #a7a7a7;
    margin-top: -5px;}
*/

.logistic_shipping_door {
    background: #fff;
    padding: 9px;
    border: solid 1px #e6ecf2;
    text-align: center;
    margin-top: 30px;
    min-height: 235px;
    margin-bottom: 15px;
}

.logistic_shipping_door b {
    color: #444444;
    font-family: 'robotomedium';
    font-weight: normal;
    font-size: 17px;
    margin-top: 5px;
}

.logistic_shipping_door img {
    margin-bottom: 5px;
    margin-top: 10px;
    width: 25%;
}


/*.logistic_shipping_door p{
    font-size: 15px;
    color: #a7a7a7;
    margin-top: -5px;}
*/


/*.face:hover {*/


/*    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;*/


/*    transform: translate3d(0, 0, 0);*/


/*    backface-visibility: hidden;*/


/*    perspective: 1000px;*/


/*}*/

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.logistic_partners {
    margin-bottom: 40px;
    margin-top: 20px;
}

.logidown {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
}

.logistic_partners h2 {
    margin-top: 20px;
}

.comp1 {
    border: 1px solid #e7e7e7;
    text-align: center;
    padding-bottom: 25px;
}

.comp1 p {
    color: #969696;
    margin-bottom: 25px;
}

.comp1 a {
    background: #00b904;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    color: #fff;
    text-transform: uppercase;
}

.comp2 {
    border: 1px solid #e7e7e7;
    text-align: center;
    padding-bottom: 25px;
}

.comp2 p {
    color: #969696;
    margin-bottom: 25px;
}

.comp2 a {
    background: #00b904;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    color: #fff;
    text-transform: uppercase;
}

.comp3 {
    border: 1px solid #e7e7e7;
    text-align: center;
    padding-bottom: 25px;
}

.comp3 p {
    color: #969696;
    margin-bottom: 25px;
}

.comp3 a {
    background: #00b904;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    color: #fff;
    text-transform: uppercase;
}

.comp4 {
    border: 1px solid #e7e7e7;
    text-align: center;
    padding-bottom: 25px;
}

.comp4 p {
    color: #969696;
    margin-bottom: 25px;
}

.comp4 a {
    background: #00b904;
    text-decoration: none;
    padding: 8px 25px 8px 25px;
    color: #fff;
    text-transform: uppercase;
}

.comp1 a:hover {
    background: #ffffff;
    border: 1px solid #00b904;
    color: #000
}

.comp2 a:hover {
    background: #ffffff;
    border: 1px solid #00b904;
    color: #000
}

.comp3 a:hover {
    background: #ffffff;
    border: 1px solid #00b904;
    color: #000
}

.comp4 a:hover {
    background: #ffffff;
    border: 1px solid #00b904;
    color: #000
}

.comp1 img:hover {
    opacity: .5
}

.comp2 img:hover {
    opacity: .5
}

.comp3 img:hover {
    opacity: .5
}

.comp4 img:hover {
    opacity: .5
}

.comp1:hover {
    box-shadow: 0px 0px 5px 0px #ccc;
}

.comp2:hover {
    box-shadow: 0px 0px 5px 0px #ccc;
}

.comp3:hover {
    box-shadow: 0px 0px 5px 0px #ccc;
}

.comp4:hover {
    box-shadow: 0px 0px 5px 0px #ccc;
}

.logistic_register {
    background-image: url(../images/banners/register1.jpg);
    padding-bottom: 60px;
    text-align: center;background-size: cover;
    margin-bottom: 4px;
    padding-top: 25px;
}

.logistic_register h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'robotobold';
    font-weight: normal;
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.logistic_register p {
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
}

.logistic_register a {
    background: #0009;
    border: 1px solid #fff;
    padding: 15px 40px 15px 40px;
    color: #fff;
}

.logistic_register a:hover {
    background: #000;
    color: #fff;
    text-decoration: none
}


/*quality_control*/

.quality_back {
    padding: 0px;
    position: relative;
}

.quality_back img {
    max-width: 100%;
}

.quality_about {
    background: #f5f7fa;
    padding-bottom: 50px;
    padding-top: 50px;
}


/*.quality_about h2{color: #444444;
    font-family: "robotobold";
	font-size: 30px;}*/

.quality_para {
    margin-left: 35px;
}

.quality_para p {
    color: #676767;
    font-size: 15px;
}

.quality_companies {
    margin-top: 25px;
    margin-bottom: 30px
}

.quality_companies h2 {
    font-family: "robotobold";
    font-size: 30px;
    color: #000;
    border-bottom: 2px solid #00b904;
    display: inline-block;
}

.quality_companies h5 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #000;
}

.quality_companies h5:hover {
    color: #38c03c;
}

.quality_companies p {
    color: #9c9c9c;
    text-align: center;
    margin-bottom: 20px;
}

.quality_companies a {
    background: #00b904;
    color: #fff;
    padding: 5px 15px 5px 15px;
}

.quality_companies a:hover {
    border: 1px solid #00b904;
    color: #000;
    background: #fff;
    text-decoration: none
}

.quality_companies_head {
    margin-bottom: 30px;
    text-align: center;
}

.quality_comp1 {
    border: 1px solid #ccc;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 1px 0px #c1c1c1;
}

.quality_comp1:hover {
    box-shadow: 0px 5px 10px 0px #c1c1c1;
}

.quality_comp1 img {
    width: 100%
}

.quality_comp2 {
    border: 1px solid #ccc;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 1px 0px #c1c1c1;
}

.quality_comp2:hover {
    box-shadow: 0px 5px 10px 0px #c1c1c1;
}

.quality_comp2 img {
    width: 100%
}

.quality_comp3 {
    border: 1px solid #ccc;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 1px 0px #c1c1c1;
}

.quality_comp3:hover {
    box-shadow: 0px 5px 10px 0px #c1c1c1;
}

.quality_comp3 img {
    width: 100%
}

.quality_comp4 {
    border: 1px solid #ccc;
    padding-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 1px 0px #c1c1c1;
}

.quality_comp4:hover {
    box-shadow: 0px 5px 10px 0px #c1c1c1;
}

.quality_comp4 img {
    width: 100%
}