@charset "utf-8";

/* CSS Document */

.heading {
    /*border-bottom: 2px solid #ff771c;*/
    margin-bottom: 25px;
    margin-top: 40px;
    /*padding-bottom: 10px;*/
}

.sitemap {
    margin-top: 20px;
    margin-bottom: 20px
}

.sitemap h5 {
    font-size: 18px;
    color: #444444;
    margin-bottom: 15px;
    border-bottom: 1px solid #cccccc38;
    border-right: 1px solid #cccccc38;
    background: #00b90400;
    padding-bottom: 15px;
}

.sitemap li {
    list-style-type: circle;
    color: #00b904;
    margin-bottom: 5px;
}

.sitemap li a {
    color: #6f6f78;
    text-decoration: none;
}

.sitemap li a:hover {
    color: #00b904;
}

.sitemap li:hover {
    color: #000
}

.alphabet {
    margin-top: 10px;
    margin-bottom: 25px;
}

.alphabet li a {
    color: #6f6f78;
    text-decoration: none;
}

.alphabet li a:hover {
    color: #00b904;
}

.alphabet li:hover {
    color: #000
}

.alphabet h5 {
    font-size: 18px;
    color: #444444;
    margin-bottom: 15px;
    background: #00b90400;
}

.alphabet p a {
    color: #ff771c;
    text-decoration: none;
    margin-right: 8px;
    font-size: 13px;
}

.alphabet p a:hover {
    color: #00b904;
}

.alphabet p {
    border-bottom: 1px solid #cccccc38;
    border-right: 1px solid #cccccc38;
    padding-bottom: 10px;
}

.alphabet li {
    list-style-type: circle;
    color: #00b904;
    margin-bottom: 5px;
}


/*..........................sitemap.......................................*/

.contactback {
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 3%;
    background: #f5f7fa
}

.contact {
    width: 80% !important;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
}

.cardd {
    background: #fff;
    border: solid 1px #e6ecf2;
    padding: 30px;
    border-right: 0;
}


/*





/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */


/*
 * General styles
 */

.main {
    margin: 50px 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

.main-center input
/*,
input::-webkit-input-placeholder*/

{
    font-size: 13px;
    padding-top: 3px;
}

.main-login {
    /*background-color: #fff;*/
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /* -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
}

.main-center .form-control {
    height: auto!important;
    padding: 8px 12px !important;
}

.main-center .input-group {
    border-bottom: 1px solid #c1c1c180;
    padding-bottom: 6px;
}

#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}

.main-center {
    margin-top: 30px;
    /*margin: 0 auto;*/
    /*max-width: 400px;*/
    margin: auto;
    max-width: 750px;
    /*padding: 20px 40px;*/
    /*background: #ededed70;*/
    color: #444444;
    text-shadow: none;
    /*-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);*/
}

span.input-group-addon i {
    color: #44444485;
    font-size: 14px;
    width: 45px;
    padding: 13px 0px 0px 15px;
}

.login-button {
    margin-top: 5px;
}

.login-register {
    font-size: 11px;
    text-align: center;
}

.fieldbot {
    margin-bottom: 4px
}

.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
    border: 0px;
}


/*.contactside img{margin-top: 55px}*/


/*.btn-green {
	margin-left: 15px;}*/

.con-container {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.con-container .left-sec {
    max-width: 400px;
    background: #fff;
    border: solid 1px #e6ecf2;
    border-left: 0;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    position: relative;
}

.con-container .left-sec .pic {
    margin-top: 10%;
}

.con-container .left-sec .cont {
    vertical-align: bottom;
    bottom: 10px;
    position: absolute;
    width: 100%;
    max-width: 200px;
}

.con-container .frms {
    width: 100%;
    /*padding: 50px 0;*/
}